.account-card {
	cursor: pointer;
	border: solid 2px #9900CC;
}

.account-card:hover {
	background-color: #F1F1F1;
}

.total-amount-wallet {
    border-bottom: solid 1px #F1F1F1;
    padding-bottom: 46px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	h1.total-amount-wallet {
		font-size: 15pt;
	}

	.btn-action {
		display: block;
		width: 100%;
		margin-top: 7px;
		margin-bottom: 7px;
	}

	.input-group-seamless {
		width: 100%;
	}
}

.card-subtitle {
	color: #9900CC !important;
}
