<h5 class="setting-title">{{ '#Profile' | dgTranslate }}</h5>

<h6>{{ '#Current profile informations' | dgTranslate }}</h6>
<div class="card mb-4">
	<div class="card-body">
	  <div class="row">
	    <label for="wallets-count" class="col-sm-4 col-form-label">
	    	{{ '#Wallets' | dgTranslate }}
	    	<span class="badge badge-secondary ml-2">{{ this.profile.wallets }}</span>
	    </label>
	  </div>
	  <div class="row">
	    <label for="wallets-count" class="col-sm-4 col-form-label">
	    	{{ '#Contacts' | dgTranslate }}
	    	<span class="badge badge-secondary">{{ this.profile.contacts }}</span>
	    </label>
	  </div>
	  <div class="row">
	    <label for="wallets-count" class="col-sm-4 col-form-label">
	    	{{ '#Nodes' | dgTranslate }}
	    	<span class="badge badge-secondary">{{ this.profile.nodes }}</span>
	    </label>
	  </div>
	  <div class="row">
	    <label for="wallets-count" class="col-sm-4 col-form-label">
	    	{{ '#Channels' | dgTranslate }}
	    	<span class="badge badge-secondary">{{ this.profile.channels }}</span>
	    </label>
	  </div>
	</div>
</div>

<h6>{{ '#Export' | dgTranslate }}</h6>
<div class="card mb-4">
	<div class="card-body text-center">
		<button class="btn btn-light" (click)="exportProfile()">{{ '#Export to file' | dgTranslate }}</button>
	</div>
</div>

<h6>{{ '#Import' | dgTranslate }}</h6>
<div class="card mb-4">
	<div class="card-body text-center">
		<button class="btn btn-light" (click)="importProfile()">{{ '#Import from file' | dgTranslate }}</button>
	</div>
</div>

<h6>{{ '#Reset' | dgTranslate }}</h6>
<div class="card mb-4">
	<div class="card-body text-center">
		<button class="btn btn-danger" (click)="resetProfile()">{{ '#Reset profile & clear cache' | dgTranslate }}</button>
	</div>
</div>
