<div class="card" *ngIf="!addressesArray.length">
	<div class="card-body">
		<h4 class="text-center mb-4">{{ '#No account yet, Welcome into InesCoin Network.' | dgTranslate }}</h4>
		<p class="text-center">
			<button class="btn btn-light mr-2" (click)="openModal('accountCreate', { component: 'wallet'})">
				<i class="fa fa-plus" aria-hidden="true"></i> {{ '#Create new account' | dgTranslate }}
			</button>

			<button class="btn btn-light mr-2" (click)="openModal('accountImport', { component: 'wallet'})">
				<i class="fa fa-download" aria-hidden="true"></i> {{ '#Import account' | dgTranslate }}
			</button>

			<button class="btn btn-light" (click)="openModal('profileImport', { component: 'wallet'})">
				<fa-icon icon="download"></fa-icon> {{ '#Import profile' | dgTranslate }}
			</button>
		</p>
	</div>
</div>

<div class="row" *ngIf="addressesArray.length && (!from || !from.address)">
	<div class="col-md-12 mb-2">
		<h6>{{ '#From' | dgTranslate }}</h6>
	</div>
	<div class="col-md-12 mb-2" *ngFor="let account of addressesArray">
		<div class="card account-card-send" *ngIf="account.amount > 0" (click)="selectFrom(account)">
		  	<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted"><fa-icon icon="wallet" pull="left"></fa-icon> {{ account.address }}</h6>
				<p class="card-text text-right">{{ account.amount | cryptoAmount }} {{ inescoinConfig.symbol }}</p>
		  	</div>
		</div>
	</div>
</div>

<div *ngIf="!isSummaryStep && from && from.address">
	<h6>{{ '#From' | dgTranslate }}</h6>

	<div class="card account-card" *ngIf="actionType !== 'delete' && actionType !== 'changeOwner'">
  	<div class="card-body">
			<h6 class="card-subtitle mb-2 text-muted"><fa-icon icon="wallet" pull="left"></fa-icon> {{ from.address }}</h6>
			<p class="card-text text-right">{{ from.amount | cryptoAmount }} {{ inescoinConfig.symbol }}</p>
  	</div>
	</div>

	<div class="form-group" *ngIf="actionType === 'delete' || actionType === 'changeOwner'">
		{{ modalOptions.from }}
	</div>
	<hr />

	<h6>
		<span class="pull-right" *ngIf="actionType === 'delete' || actionType === 'renew' || actionType === 'changeOwner'">
			{{ modalOptions.url }}
		</span>
		{{ '#Name' | dgTranslate }} <small *ngIf="actionType === 'create'">({{ '#Alphanumeric' | dgTranslate }})</small>
	</h6>
	<div class="form-group" *ngIf="actionType === 'create'">
		<input type="text" class="form-control" maxlength="70" [(ngModel)]="domain.name">
	</div>

	<div *ngIf="actionType === 'changeOwner'">
		<hr />
		<h6>{{ '#New Owner' | dgTranslate }}</h6>
		<div class="row">
			<div class="col-md-6">
				<button class="pull-right" (click)="openModal('qrCodeScan', { index: i , component: 'wallet-create'})">QrCode <fa-icon icon="qrcode"></fa-icon></button>
				<label>{{ '#Address' | dgTranslate }}</label>
				<input [(ngModel)]="domain.newOwnerAddress"
					   [typeahead]="contacts"
					   [typeaheadMinLength]="0"
					   [typeaheadScrollable]="true"
   				   [typeaheadOptionsInScrollableView]="100"
   				   (typeaheadOnSelect)="onSelectOwner($event, i)"
					   typeaheadScrollable="true"
					   typeaheadOptionField="value"
					   autocomplete="off"
					   class="form-control" placeholder="0x...">
			</div>
			<div class="col-md-6">
				<label>{{ '#Public Key' | dgTranslate }}</label>
			  	<input type="text" [(ngModel)]="domain.newOwnerPublicKey" class="form-control">
			</div>
		</div>
	</div>
	<hr />

	<div class="row text-center" *ngIf="actionType === 'renew' || actionType === 'create' || actionType === 'changeOwner'">
		<div class="col">
			<label>
				<input type="radio" [(ngModel)]="amount" [value]="amountMonth" name="quantity">
				<div class="amount-month-selection">100 {{ inescoinConfig.symbol }}</div>
				<div class="amount-month-selection">10,000 {{ '#Blocks' | dgTranslate }}</div>
			</label>
		</div>
		<div class="col">
			<label>
				<input type="radio" [(ngModel)]="amount" [value]="amountThreeMonths" name="quantity">
				<div class="amount-month-selection">200 {{ inescoinConfig.symbol }}</div>
				<div class="amount-month-selection">30,000 {{ '#Blocks' | dgTranslate }}</div>
			</label>
		</div>
		<div class="col">
			<label>
				<input type="radio" [(ngModel)]="amount" [value]="amountSixMonths" name="quantity">
				<div class="amount-month-selection">300 {{ inescoinConfig.symbol }}</div>
				<div class="amount-month-selection">60,000 {{ '#Blocks' | dgTranslate }}</div>
			</label>
		</div>
	</div>

	<div class="card mt-4">
		<div class="card-body text-center">
			<h6>{{ '#Fee' | dgTranslate }}</h6>
			{{ amount }} {{ inescoinConfig.symbol }}
		</div>
	</div>
	<hr />
	<div class="text-center">
		<button class="btn btn-success mt-2" [disabled]="!this.from || !isAlphaNum(domain.name) || (!domain.name || domain.name.length <7 || domain.name.length > 70)" *ngIf="actionType === 'create'" (click)="next()">{{ '#Create domain' | dgTranslate }}</button>
		<button class="btn btn-success mt-2" *ngIf="actionType === 'renew'" (click)="next()">{{ '#Renew domain' | dgTranslate }}</button>
		<button class="btn btn-success mt-2" *ngIf="actionType === 'delete'" (click)="next()">{{ '#Delete domain' | dgTranslate }}</button>
		<button class="btn btn-success mt-2" [disabled]="!domain.newOwnerAddress || !domain.newOwnerPublicKey" *ngIf="actionType === 'changeOwner'" (click)="next()">{{ '#Change owner' | dgTranslate }}</button>
	</div>
</div>

<div *ngIf="isSummaryStep && from && from.address">
	<div class="form-group">
		<label>{{ '#From' | dgTranslate }} :</label>

		<div class="card account-card">
	  	<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted"><fa-icon icon="wallet" pull="left"></fa-icon> {{ from.address }}</h6>
				<p class="card-text text-right">{{ from.amount | cryptoAmount }} {{ inescoinConfig.symbol }}</p>
	  	</div>
		</div>
	</div>
	<hr />
	<div class="form-group">
		<label>{{ '#Password' | dgTranslate }}</label>
		<input type="password" [(ngModel)]="password" autocomplete="off" class="form-control">
	</div>
	<div class="alert alert-danger" *ngIf="badPassword">{{ '#Bad password' | dgTranslate }}</div>

	<div class="card mb-4">
		<div class="card-header">
			{{ '#Domain' | dgTranslate }}
		</div>
		<div class="card-body">
			<p>{{ '#Name' | dgTranslate }}: <b>{{ domain.name }}</b></p>
			<p *ngIf="domain.newOwnerAddress">{{ '#New owner address' | dgTranslate }}: <b>{{ domain.newOwnerAddress }}</b></p>
			<p *ngIf="domain.newOwnerPublicKey">{{ '#New owner public key' | dgTranslate }}: <b>{{ domain.newOwnerPublicKey }}</b></p>
		</div>
	</div>

	<div class="row text-center" *ngIf="actionType === 'renew' || actionType === 'create' || actionType === 'changeOwner'">
		<div class="col">
			<label>
				<input type="radio" [(ngModel)]="amount" [value]="amountMonth" name="quantity">
				<div class="amount-month-selection">100 {{ inescoinConfig.symbol }}</div>
				<div class="amount-month-selection">10,000 {{ '#Blocks' | dgTranslate }}</div>
			</label>
		</div>
		<div class="col">
			<label>
				<input type="radio" [(ngModel)]="amount" [value]="amountThreeMonths" name="quantity">
				<div class="amount-month-selection">200 {{ inescoinConfig.symbol }}</div>
				<div class="amount-month-selection">30,000 {{ '#Blocks' | dgTranslate }}</div>
			</label>
		</div>
		<div class="col">
			<label>
				<input type="radio" [(ngModel)]="amount" [value]="amountSixMonths" name="quantity">
				<div class="amount-month-selection">300 {{ inescoinConfig.symbol }}</div>
				<div class="amount-month-selection">60,000 {{ '#Blocks' | dgTranslate }}</div>
			</label>
		</div>
	</div>

	<div class="card">
		<div class="card-body text-center">
			<h6>{{ '#Fee' | dgTranslate }}</h6>
			{{ amount }} {{ inescoinConfig.symbol }}
		</div>
	</div>
	<hr />

	<div class="text-center">
		<button class="btn btn-light" [disabled]="inProgress || !this.from || !isAlphaNum(domain.name) || (!domain.name || domain.name.length <7 || domain.name.length > 70)" (click)="back()">{{ '#Back' | dgTranslate }}</button>
		<button class="btn btn-success ml-2" [disabled]="inProgress" (click)="createDomain()">{{ '#Send to node' | dgTranslate }}</button>
	</div>
</div>
