.nav-link {
	cursor: pointer;
}

.picker-input {
	width: 20px;
	height:20px;
	border: solid #F1F1F1 1px;
}

.page-position {
	background: #6c757d;
    padding: 10px;
    margin: 0 -10px 10px;
    color: #FFFFFF;
    width: 97% !important;
    text-align: left;
    display: initial;
}

.textarea-theme {
	height: 300px;
}

.b64-model {
	height: 300px;
}

.card-img-top {
	// max-height: 150px;
}

.box-product-item {
	cursor: pointer;
}

.box-product-item:hover {
	background-color: #F1F1F1;
}

.label-facette {
    font-weight: 600;
}
.range-amount-label {
	margin-bottom: 40px;
}
