.nav-link {
	cursor: pointer;
}

.picker-input {
	width: 20px;
	height:20px;
	border: solid #F1F1F1 1px;
}

.page-position {
	background: #6c757d;
    padding: 10px;
    margin: 0 -10px 10px;
    color: #FFFFFF;
}
