<div class="row mb-3" *ngIf="domain.ownerAddress">
	<div class="col-md-6 text">
		<h2><fa-icon icon="globe"></fa-icon> {{ domain.url }}</h2>
		<p>{{ domain.ownerAddress }}</p>
	</div>
	<div class="col-md-6 text-right">
  	<a class="btn btn-light mr-4" [routerLink]="['/web']">
  		<fa-icon icon="arrow-circle-left"></fa-icon> {{ '#Back' | dgTranslate }}
  	</a>
		<div ngbDropdown class="d-inline-block" placement="bottom-right">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><fa-icon icon="ellipsis-v"></fa-icon></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="openDomainRenewModal()"><fa-icon icon="redo"></fa-icon> {{ '#Renew' | dgTranslate }}</button>
        <button ngbDropdownItem class="text-danger" (click)="openDomainDeleteModal()"><fa-icon icon="trash"></fa-icon> {{ '#Delete' | dgTranslate }}</button>
      </div>
    </div>
	</div>
</div>

<ul class="nav justify-content-center mb-4" *ngIf="domain.ownerAddress">
  <li class="nav-item">
    <span class="nav-link btn mr-2" [class.btn-secondary]="currentLocale === 'fr'" [class.btn-light]="currentLocale !== 'fr'" (click)="setCurrentLocale('fr')">Français</span>
  </li>
  <li class="nav-item">
    <span class="nav-link btn mr-2" [class.btn-secondary]="currentLocale === 'en'" [class.btn-light]="currentLocale !== 'en'" (click)="setCurrentLocale('en')">English</span>
  </li>
  <li class="nav-item">
    <span class="nav-link btn mr-2" [class.btn-secondary]="currentLocale === 'it'" [class.btn-light]="currentLocale !== 'it'" (click)="setCurrentLocale('it')">Italiano</span>
  </li>
  <li class="nav-item">
    <span class="nav-link btn mr-2" [class.btn-secondary]="currentLocale === 'es'" [class.btn-light]="currentLocale !== 'es'" (click)="setCurrentLocale('es')">Español</span>
  </li>
  <li class="nav-item">
    <span class="nav-link btn mr-2" [class.btn-secondary]="currentLocale === 'jp'" [class.btn-light]="currentLocale !== 'jp'" (click)="setCurrentLocale('jp')">中国</span>
  </li>
  <li class="nav-item">
    <span class="nav-link btn mr-2" [class.btn-secondary]="currentLocale === 'ru'" [class.btn-light]="currentLocale !== 'ru'" (click)="setCurrentLocale('ru')">русский</span>
  </li>
  <li class="nav-item">
    <span class="nav-link btn" [class.btn-secondary]="currentLocale === 'cn'" [class.btn-light]="currentLocale !== 'cn'" (click)="setCurrentLocale('cn')">日本の</span>
  </li>
</ul>

<ngb-tabset [justify]="currentJustify" *ngIf="domain.ownerAddress">
  <ngb-tab>
    <ng-template ngbTabTitle><fa-icon icon="home"></fa-icon> {{ '#Website' | dgTranslate }}</ng-template>
    <ng-template ngbTabContent>
    	<div class="p-2 mt-4">
				<div class="card">
    			<div class="card-header">
    				{{ '#Website' | dgTranslate }}
    				<span class="pull-right">{{ '#Active' | dgTranslate }} <ui-switch class="align-middle" [(ngModel)]="domain.html[currentLocale].website.active"></ui-switch></span>
    			</div>
    			<div class="card-body">
    				<div class="row">
    					<div class="col-md-12">
		    				<div class="form-group">
									<label>{{ '#Title' | dgTranslate }}</label>
									<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].website.title" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card mt-4">
    			<div class="card-header">
    				{{ '#Meta' | dgTranslate }}
    			</div>
    			<div class="card-body">
						<ul class="list-group" dragula="VAMPIRES" [(dragulaModel)]="domain.html[currentLocale].website.meta">
							<li class="list-group-item" *ngFor="let item of domain.html[currentLocale].website.meta; let i = index">
								<div class="row">
    							<div class="col-2">
									  <select class="custom-select my-1 mr-sm-2" [(ngModel)]="item.type">
									    <option value="name">name</option>
									    <option value="property">property</option>
									    <option value="http-equiv">http-equiv</option>
									  </select>
									</div>
    							<div class="col">
									  <input type="text" [(ngModel)]="item.name" class="form-control mb-2 mr-sm-2"placeholder="{{ '#key' | dgTranslate }}">
									</div>
    							<div class="col-6">
									  <input type="text" [(ngModel)]="item.content"  class="form-control mb-2 mr-sm-2"placeholder="{{ '#value' | dgTranslate }}">
									</div>
									<div class="col-1">
										<button class="btn btn-danger" (click)="removeMeta(i)"><i class="fa fa-close"></i></button>
									</div>
								</div>
							</li>
    				</ul>

    				<div class="text-center mt-4">
		    			<button class="btn btn-light" (click)="addMeta()"><fa-icon icon="plus"></fa-icon> {{ '#Add meta' | dgTranslate }}</button>
			    	</div>
					</div>
				</div>

				<div class="card mt-4">
    			<div class="card-header">
    				{{ '#Analytics' | dgTranslate }}
    				<span class="pull-right">{{ '#Active' | dgTranslate }} <ui-switch class="align-middle" [(ngModel)]="domain.html[currentLocale].website.analytics.active"></ui-switch></span>
    			</div>
    			<div class="card-body">
    				<div class="row">
    					<div class="col">
		    				<div class="form-group">
									<label>{{ '#Google Analytics code' | dgTranslate }}</label>
									<input type="text" [disabled]="!domain.html[currentLocale].website.analytics.active" class="form-control" [(ngModel)]="domain.html[currentLocale].website.analytics.code" />
								</div>
							</div>
						</div>
					</div>
				</div>

    	</div>
    </ng-template>
  </ngb-tab>

	<ngb-tab>
    <ng-template ngbTabTitle><fa-icon icon="briefcase"></fa-icon> {{ '#Company' | dgTranslate }}</ng-template>
    <ng-template ngbTabContent>
    	<div class="p-2 mt-4">
	    	<div class="card" *ngIf="domain.html[currentLocale].company">
	  			<div class="card-header">
	  				{{ '#Company' | dgTranslate }}
	  			</div>
	  			<div class="card-body">
	  				<div class="row">
	  					<div class="col-md-6">
		    				<div class="form-group">
									<label>{{ '#Logo' | dgTranslate }} ({{ '#link' | dgTranslate }})</label>
									<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].company.logo" />
								</div>
		    				<div class="form-group">
									<label>{{ '#Name' | dgTranslate }}</label>
									<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].company.name" />
								</div>
								<div class="form-group">
									<label>{{ '#Slogan' | dgTranslate }}</label>
									<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].company.slogan" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>{{ '#Description' | dgTranslate }}</label>
									<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].company.description" />
								</div>
		    				<div class="form-group">
									<label>{{ '#Year started' | dgTranslate }}</label>
									<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].company.year" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label>{{ '#FAQ' | dgTranslate }}</label>
							<tinymce [(ngModel)]="domain.html[currentLocale].company.faq" [config]="tinymceConfig"></tinymce>
						</div>

						<div class="form-group">
							<label>{{ '#Terms of service' | dgTranslate }}</label>
							<tinymce [(ngModel)]="domain.html[currentLocale].company.termsOfService" [config]="tinymceConfig"></tinymce>
						</div>

						<div class="form-group">
							<label>{{ '#Terms of sales' | dgTranslate }}</label>
							<tinymce [(ngModel)]="domain.html[currentLocale].company.termsOfSales" [config]="tinymceConfig"></tinymce>
						</div>

						<div class="form-group">
							<label>{{ '#Privacy policy' | dgTranslate }}</label>
							<tinymce [(ngModel)]="domain.html[currentLocale].company.privacyPolicy" [config]="tinymceConfig"></tinymce>
						</div>
	  			</div>
	  		</div>
	  	</div>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><fa-icon icon="file-alt"></fa-icon> {{ '#Page' | dgTranslate }}</ng-template>
    <ng-template ngbTabContent>
    	<div class="p-2 mt-4">

				<ul class="list-group" dragula="VAMPIRES" [(dragulaModel)]="domain.html[currentLocale].pages">
          <li class="list-group-item" *ngFor="let item of domain.html[currentLocale].pages; let i = index">
          	<div class="page-position">
          		{{ '#Position' | dgTranslate }} {{ (i + 1) }} <span *ngIf="i === 0" class="badge badge-light">masthead</span> <button class="badge badge-danger pull-right" (click)="removePage(i)"><i class="fa fa-close"></i></button>
          	</div>
          	<div class="row" *ngIf="i !== 0">
							<div class="col">
								{{ '#Show in menu' | dgTranslate }} <ui-switch class="align-middle" [(ngModel)]="item.shownInMenu"></ui-switch>
							</div>
							<div class="col text-right">
								{{ '#Is Link' | dgTranslate }} <ui-switch class="align-middle" [(ngModel)]="item.isLink"></ui-switch>
							</div>
						</div>
						<hr />

						<div class="row" *ngIf="item.isLink && i !== 0">
							<div class="col-md-3">
									<div class="form-group">
										<label>{{ '#Menu title' | dgTranslate }}</label>
										<input type="text" class="form-control" [(ngModel)]="item.menuTitle">
									</div>
								</div>
							<div class="col-md-9">
								<div class="form-group">
									<label>{{ '#Link' | dgTranslate }}</label>
									<input type="text" class="form-control" [(ngModel)]="item.linkUrl">
								</div>
							</div>
          	</div>

						<div *ngIf="!item.isLink">
	          	<div class="row" *ngIf="i !== 0">
								<div class="col">
									<div class="form-group">
										<label>{{ '#Menu title' | dgTranslate }}</label>
										<input type="text" class="form-control" [(ngModel)]="item.menuTitle">
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label>{{ '#Id' | dgTranslate }}</label>
										<input type="text" class="form-control" [(ngModel)]="item.divId">
									</div>
								</div>
	          	</div>

	          	<hr />

							<div class="row">
								<div class="col">
									<div class="form-group">
										<label>{{ '#Background image' | dgTranslate }}</label>
										<input type="text" class="form-control" [(ngModel)]="item.backgroundImage">
									</div>
								</div>
	          	</div>
	          	<hr />
	          	<div>
								<img class="img-fluid" [ngStyle]="{'opacity': (item.backgroundOpacity / 100)}" *ngIf="item.backgroundImage" [src]="item.backgroundImage" />
	          	</div>
	          	<hr />

							<label>{{ '#Content' | dgTranslate }}</label>
							<tinymce [(ngModel)]="item.body" [config]="tinymceConfig"></tinymce>
						</div>
          </li>
        </ul>

        <div class="text-center mt-4">
    			<button class="btn btn-light" (click)="addPage()"><fa-icon icon="plus"></fa-icon> {{ '#Add a block' | dgTranslate }}</button>
    		</div>
    	</div>
    </ng-template>
  </ngb-tab>

	<ngb-tab>
    <ng-template ngbTabTitle><fa-icon icon="share-alt"></fa-icon> {{ '#Network' | dgTranslate }}</ng-template>
    <ng-template ngbTabContent>
			<div class="card mt-4">
  			<div class="card-header">
  				{{ '#Network' | dgTranslate }}
  			</div>
  			<div class="card-body">
  				<div class="row">
  					<div class="col-md-6">
  						<div class="form-group">
								<label>{{ '#Facebook' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.facebook" />
							</div>
							<div class="form-group">
								<label>{{ '#Twitter' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.twitter" />
							</div>
							<div class="form-group">
								<label>{{ '#Linkedin' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.linkedin" />
							</div>
							<div class="form-group">
								<label>{{ '#Telegram' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.telegram" />
							</div>
							<div class="form-group">
								<label>{{ '#Instagram' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.instagram" />
							</div>
							<div class="form-group">
								<label>{{ '#Youtube' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.youtube" />
							</div>
  					</div>
  					<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Wechat' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.wechat" />
							</div>
							<div class="form-group">
								<label>{{ '#Weibo' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.weibo" />
							</div>
							<div class="form-group">
								<label>{{ '#Douyin' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.douyin" />
							</div>
							<div class="form-group">
								<label>{{ '#VKontakte' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.vkontakte" />
							</div>
							<div class="form-group">
								<label>{{ '#OdnoKlassniki' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.odnoKlassniki" />
							</div>
							<div class="form-group">
								<label>{{ '#Whatsapp' | dgTranslate }}</label>
								<input type="text" class="form-control" [(ngModel)]="domain.html[currentLocale].network.whatsapp" />
							</div>
  					</div>
  				</div>

  			</div>
  		</div>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><fa-icon icon="palette"></fa-icon> {{ '#Theme' | dgTranslate }}</ng-template>
    <ng-template ngbTabContent>
    	<div class="p-2 mt-4">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="card">
    					<div class="card-header">
    						{{ 'CSS' | dgTranslate }}
    					</div>
    					<div class="card-body">
    						<ul class="list-group mb-4" dragula="VAMPIRES" [(dragulaModel)]="domain.html[this.currentLocale].theme.css.links">
									<li class="list-group-item" *ngFor="let item of domain.html[this.currentLocale].theme.css.links; let i = index">
										<div class="row">
		    							<div class="col">
											  <input type="text" [(ngModel)]="item.link"  class="form-control mb-2 mr-sm-2" placeholder="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
											</div>
											<div class="col-1">
												<button class="btn btn-danger" (click)="removeCssLink(i)"><i class="fa fa-close"></i></button>
											</div>
										</div>
									</li>
		    				</ul>

		    				<div class="text-center mb-4">
				    			<button class="btn btn-light" (click)="addCssLink()"><fa-icon icon="plus"></fa-icon> {{ '#Add' | dgTranslate }}</button>
					    	</div>
								<textarea class="form-control textarea-theme" [(ngModel)]="domain.html[currentLocale].theme.css.value"></textarea>
    					</div>
    				</div>
					</div>
					<div class="col-md-12 mt-4">
    				<div class="card">
    					<div class="card-header">
    						{{ 'JS' | dgTranslate }}
    					</div>
    					<div class="card-body">
    						<ul class="list-group mb-4" dragula="VAMPIRES" [(dragulaModel)]="domain.html[this.currentLocale].theme.js.links">
									<li class="list-group-item" *ngFor="let item of domain.html[this.currentLocale].theme.js.links; let i = index">
										<div class="row">
		    							<div class="col">
											  <input type="text" [(ngModel)]="item.link"  class="form-control mb-2 mr-sm-2" placeholder="//code.jquery.com/jquery-3.2.1.min.js">
											</div>
											<div class="col-1">
												<button class="btn btn-danger" (click)="removeJsLink(i)"><i class="fa fa-close"></i></button>
											</div>
										</div>
									</li>
		    				</ul>

								<div class="text-center mb-4">
				    			<button class="btn btn-light" (click)="addJsLink()"><fa-icon icon="plus"></fa-icon> {{ '#Add' | dgTranslate }}</button>
					    	</div>

								<textarea class="form-control textarea-theme" [(ngModel)]="domain.html[currentLocale].theme.js.value"></textarea>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><fa-icon icon="map-marker-alt"></fa-icon> {{ '#Location' | dgTranslate }}</ng-template>
    <ng-template ngbTabContent>
    	<div class="p-2 mt-4">
				<ul class="list-group" dragula="VAMPIRES" [(dragulaModel)]="domain.html[currentLocale].location">
					<li class="list-group-item" *ngFor="let item of domain.html[currentLocale].location; let i = index">
						<div class="card">
		    			<div class="card-header">
		    				{{ '#Address' | dgTranslate }}
		    				<button class="badge badge-danger pull-right" (click)="removeLocation(i)"><i class="fa fa-close"></i></button>
		    			</div>
		    			<div class="card-body">
		    				<div class="row">
		    					<div class="col-md-12">
				    				<div class="form-group">
											<label>{{ '#Address' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.address" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>{{ '#Region' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.region" />
										</div>
										<div class="form-group">
											<label>{{ '#Zipcode' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.zipcode" />
										</div>
										<div class="form-group">
											<label>{{ '#City' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.city" />
										</div>
										<div class="form-group">
											<label>{{ '#Country' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.country" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>{{ '#Longitude' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.longitude" />
										</div>
										<div class="form-group">
											<label>{{ '#Latitude' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.latitude" />
										</div>

				    				<div class="form-group">
											<label>{{ '#Phone' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.phone" />
										</div>
										<div class="form-group">
											<label>{{ '#E-mail' | dgTranslate }}</label>
											<input type="text" class="form-control" [(ngModel)]="item.email" />
										</div>
									</div>
								</div>
    					</div>
    				</div>
    			</li>
				</ul>

				<div class="text-center mt-4">
    			<button class="btn btn-light" (click)="addLocation()"><fa-icon icon="plus"></fa-icon> {{ '#Add' | dgTranslate }}</button>
	    	</div>
    	</div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<div class="text-center mt-4 mb-4" *ngIf="domain.ownerAddress">
	<button class="btn btn-primary" (click)="openDomainUpdateModal()">{{ '#Save' | dgTranslate }}</button>
</div>
