<div class="row">
	<div class="col-md-6">
		<input 	class="form-control"
	         	type="text"
	        	placeholder="{{ '#Search a domain' | dgTranslate }}"
	        	(keyup)="updateFilter($event)"
		/>
	</div>
	<div class="col-md-6">
		<button class="btn btn-light btn-block mt-2"
				(click)="openDomainCreateModal()">
				<fa-icon icon="plus"></fa-icon> {{ '#Create a new domain' | dgTranslate }}
		</button>
	</div>
</div>

<div class="row" *ngIf="domainList.length">
	<div class="col-md-6 mb-2" *ngFor="let domain of domainList" (click)="openWebRoute(domain)">
		<div class="card domain-card">
	  	<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted"><fa-icon icon="globe" pull="left"></fa-icon> {{ domain.url }}</h6>
				<p>
					{{ domain.ownerAddress }}
					<br /><small>{{ '#Expired block' | dgTranslate }}: {{ domain.blockHeightEnd }}</small>
				</p>
	  	</div>
		</div>
	</div>
</div>
