<div>
  <div class="form-group">
    <label>{{ '#From' | dgTranslate }} :</label> <b>{{ from }}</b>
  </div>
  <hr />
  <div class="form-group">
    <label>{{ '#Password' | dgTranslate }}</label>
    <input type="password" [(ngModel)]="password" autocomplete="off" class="form-control">
  </div>
  <div class="alert alert-danger" *ngIf="badPassword">{{ '#Bad password' | dgTranslate }}</div>

  <div class="card mb-4">
    <div class="card-body">
      {{ '#Domain' | dgTranslate }} : {{ domain.name }}
    </div>
  </div>

  <div class="card">
    <div class="card-body text-center">
      <h6>{{ '#Fee' | dgTranslate }}</h6>
      {{ amount }} {{ inescoinConfig.symbol }}
    </div>
  </div>
  <hr />
  <div class="text-center">
    <button class="btn btn-light" [disabled]="inProgress" (click)="back()">{{ '#Back' | dgTranslate }}</button>
    <button class="btn btn-success ml-2" [disabled]="inProgress" (click)="updateDomain()">{{ '#Update domain' | dgTranslate }}</button>
  </div>
</div>
