<div class="modal-header">
  <h4 class="modal-title">{{ '#Remove domain langue' | dgTranslate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
	{{ '#Code' | dgTranslate }}: {{ removeCode }}
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn btn-danger" (click)="remove()">{{ '#Delete' | dgTranslate }}</button>
  <button type="button" class="btn btn-light" (click)="close()">{{ '#Close' | dgTranslate }}</button>
</div>
