<p class="alert alert-info" *ngIf="wallet"><fa-icon icon="wallet"></fa-icon> {{ wallet.address }}</p>

<div class="form-group" >
	{{ '#Password' | dgTranslate }}
	<input class="form-control" type="password" name="password" [(ngModel)]="password" autocomplete="new-password">
	<ng2-password-strength-bar [passwordToCheck]="password"></ng2-password-strength-bar>
</div>
<div class="form-group" *ngIf="!wallet">
	{{ '#Confirm password' | dgTranslate }}
	<input class="form-control" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" autocomplete="new-password">
</div>

<div class="text-center">
	<button class="btn btn-light" *ngIf="!qrCodeOpen" (click)="openQRCode()">{{ '#Create from QRCode' | dgTranslate }}</button>
	<button class="btn btn-light mb-2" *ngIf="qrCodeOpen" (click)="closeQRCode()">{{ '#Close' | dgTranslate }}</button>

	<zxing-scanner *ngIf="qrCodeOpen" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
</div>

<hr />
<button class="btn btn-success" [disabled]="!password || (password !== confirmPassword && !wallet)" (click)="create()">{{ '#Create new account' | dgTranslate }}</button>
