.amount-balance {
	font-size: 40px;
    font-weight: 600;
}

.amount-balance small{
	font-size: 10px;
	vertical-align: middle;
}

.title-address {
	color: #9900CC;
}

@media screen and (min-width: 410px) and (max-width: 768px) {
	.title-address {
		font-size: 10pt;
	}

	.title-address small {
		font-size: 7pt;
	}

	.amount-balance {
		font-size: 20pt;
	}
}


.transaction-row {
	cursor: pointer;
}
.transaction-row:hover {
	background-color: #F1F1F1F1;
}

.link-item {
	cursor: pointer;
}

.link-item:hover {
	background-color: #F1F1F1;
}

.canvas-qr-code {
	width: 300px;
	margin: 0 auto;
}
