<div class="modal-header">
  <h4 class="modal-title" *ngIf="options.type === 'create'"><fa-icon icon="plus"></fa-icon> {{ '#Create a domain' | dgTranslate }}</h4>
  <h4 class="modal-title" *ngIf="options.type === 'renew'"><fa-icon icon="redo"></fa-icon> {{ '#Renew a domain' | dgTranslate }}</h4>
  <h4 class="modal-title" *ngIf="options.type === 'delete'"><fa-icon icon="trash"></fa-icon> {{ '#Delete a domain' | dgTranslate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<app-web-create [actionType]="options.type"></app-web-create>
</div>
