<div class="modal-header">
  <h4 class="modal-title"><fa-icon icon="lock"></fa-icon> {{ '#Reset password' | dgTranslate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<p class="alert alert-info text-center"><fa-icon icon="wallet"></fa-icon> {{ options.account.address | dgTruncate :{ limit: 20, position: 'center' } }}</p>

	<div class="alert alert-danger text-center" *ngIf="badPassword">{{ '#Bad password' | dgTranslate }}</div>
	<div class="form-group" >
		{{ '#Current password' | dgTranslate }}
		<input class="form-control" type="password" name="currentPassword" [(ngModel)]="currentPassword" autocomplete="new-password">
	</div>
	<hr />
	<div class="form-group" >
		{{ '#New password' | dgTranslate }}
		<input class="form-control" type="password" name="newPassword" [(ngModel)]="newPassword" autocomplete="new-password">
		<ng2-password-strength-bar [passwordToCheck]="newPassword"></ng2-password-strength-bar>
	</div>
	<div class="form-group" >
		{{ '#Confirm new password' | dgTranslate }}
		<input class="form-control" type="password" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" autocomplete="new-password">
	</div>
</div>
<div class="modal-footer text-center">
	<button class="btn btn-light mr-2" (click)="dismiss()">{{ '#Cancel' | dgTranslate }}</button>
	<button class="btn btn-success" [disabled]="!currentPassword || !newPassword || newPassword !== confirmNewPassword" (click)="resetPassword()">{{ '#Save' | dgTranslate }}</button>
</div>
