/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import '~ngx-toastr/toastr';
@import '~ngx-ui-switch/ui-switch.component.scss';
@import '~@ctrl/ngx-emoji-mart/picker';

.setting-title {
	border-bottom: solid 1px #F1F1F1;
	padding-bottom: 23px;
  margin-bottom: 20px;
}

.spinner-ctnr {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  .spinner.colorwheel {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    z-index: 0;
    // margin-top: 15%;
    // margin-left: 45%;
  }
  .spinner.colorwheel::before,
  .spinner.colorwheel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  .spinner.colorwheel::after {
    background: #C1C1C1;
    -webkit-animation: rotate 2.5s linear reverse infinite;
    animation: rotate 2.5s linear reverse infinite;
    // -webkit-animation: fade 1s infinite alternate, rotate 2.5s linear reverse infinite;
    // animation: fade 1s infinite alternate, rotate 2.5s linear reverse infinite;
  }

  .spinner .centerpiece {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 100%;
    border-color: #000;
    box-sizing: border-box;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #9900CC;
    border-top: 12px solid #9900CC;
    -webkit-animation: rotate 0.8s linear infinite;
    animation: rotate 0.8s linear infinite;
  }
  .logo-fixed {
    background-image: url('/assets/img/logo_inescoin_w.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 120px;
    display: inline-block;
    z-index: 100;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    margin: auto;
    position: absolute;
  }
}


@media (max-width: 768px) {
  .spinner-ctnr {
    .spinner.colorwheel {
      // margin-top: 15%;
      // margin-left: 35%;
    }
  }
}

// @-webkit-keyframes fade {
//   from { opacity: 1; }
//   to { opacity: 0.2; }
// }
// @keyframes fade {
//   from { opacity: 1; }
//   to { opacity: 0.2; }
// }

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


.card-img-top-product {
    max-height: 100px !important;
    margin: 0 auto;
}

.btn-primary {
    color: #fff;
    background-color: #9900CC;
    border-color: #ffb3fb;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f37aa1;
    border-color: #ffb3fb;
}


.modal-footer {
  border-top: 0;
}

.modal-header {
  border-bottom: 0;
}
.close {
  outline: none !important;
}
.close:hover, .close:focus {
  outline: none;
}
.modal-content {
  border-radius: 1.3rem;
}

