<div class="modal-header">
  <h4 class="modal-title"><fa-icon icon="key"></fa-icon> {{ '#Account keys' | dgTranslate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
	<p class="alert alert-info text-left overflow-auto">{{ '#Address' | dgTranslate }}: {{ options.account.address }}</p>
	<p class="alert alert-info text-left overflow-auto">{{ '#Public key' | dgTranslate }}: {{options.account.wallet.publicKey }}</p>
	<ngx-qrcode
		elementType="canvas"
		[value]="qrCodeKeys"
		cssClass="aclass"
		errorCorrectionLevel="L">
	</ngx-qrcode>
</div>
<div class="modal-footer text-center">
	<button class="btn btn-light" (click)="dismiss()">{{ '#Close' | dgTranslate }}</button>
</div>
