<div class="modal-header">
  <h4 class="modal-title"><fa-icon icon="bullhorn"></fa-icon> {{ '#Request payment' | dgTranslate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
	<p class="alert alert-info text-center"><fa-icon icon="wallet"></fa-icon> {{ options.account.address }}</p>

	<div class="row">
		<div class="col">
			<div class="form-group" >
				{{ '#Wallet Id' | dgTranslate }}
				<input class="form-control" type="text" name="walletId" [(ngModel)]="payment.walletId" autocomplete="new-password">
			</div>
		</div>
		<div class="col">
			<div class="form-group" >
				{{ '#Amount' | dgTranslate }}
				<input class="form-control" type="number" min="0.002" max="999999999.9999" step=".0001" placeholder="0.0000" name="amount" [(ngModel)]="payment.amount" autocomplete="new-password">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<ngx-qrcode
				elementType="canvas"
				[value]="getQrCodeAddress()"
				cssClass="aclass"
				errorCorrectionLevel="L">
			</ngx-qrcode>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-light" (click)="dismiss()">{{ '#Cancel' | dgTranslate }}</button>
</div>
