<nav>
  <div class="container-fluid top-custom-nav">
    <div class="row align-items-center">
      <div class="col-11 text-sm-right text-md-left">
        <a href="#" class="left-menu-title" [routerLink]="['/wallet']"><img src="/assets/img/logo_inescoin_9.png" width="30" height="30" alt="">
        <span class="ml-2">{{ inescoinConfig.name }}</span>
        </a>
      </div>
      <div class="col-1 text-sm-left text-md-right">
        <button class="btn" (click)="toogleRightMenu()">
          <img src="/assets/img/hamburger.svg"/>
        </button>
      </div>
    </div>
  </div>
</nav>

<div [class.cover-menu]="showLeftMenu || showRightMenu"></div>

<div class="responsive-left-menu fixed-bottom text-white">
  <ul class="nav nav-tabs nav-pills nav-fill">
    <li class="nav-item">
      <a
        #wallet="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['wallet']"
      >
          <fa-icon icon="wallet"></fa-icon>
          <span class="ml-1" [ngClass]="{ 'isActive': wallet.isActive }">{{ "#Wallet" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        #domain="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['domain']"
      >
        <fa-icon icon="globe"></fa-icon>
        <span class="ml-1" [ngClass]="{ 'isActive': domain.isActive }"> {{ "#Domain" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        #messenger="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['messenger']"
      >
        <fa-icon icon="paper-plane"></fa-icon>
        <span class="ml-1" [ngClass]="{ 'isActive': messenger.isActive }"> {{ "#Messenger" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a
       #contacts="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['contacts']"
      >
      <fa-icon icon="address-book"></fa-icon>
      <span class="ml-1" [ngClass]="{ 'isActive': contacts.isActive }"> {{ "#Contacts" | dgTranslate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        #settings="routerLinkActive"
        class="nav-link list-group-item list-group-item-action list-group-item-dark rounded-0 pl-0 pr-0"
        routerLinkActive="active"
        [routerLink]="['settings']"
      >
      <fa-icon icon="cog"></fa-icon>
      <span class="ml-1" [ngClass]="{ 'isActive': settings.isActive }"> {{ "#Settings" | dgTranslate }}</span>
      </a>
    </li>
  </ul>
</div>

<div class="responsive-right-menu" [class.responsive-right-menu-toogled]="!showRightMenu">
  <div class="text-left pb-2" (click)="showRightMenu=false"><i class="fa fa-close"></i></div>
   <div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" href="https://explorer.inescoin.org">
        <i class="fa fa-cube mr-2"></i>
        {{ '#Explorer' | dgTranslate }}
      </a>
      <a class="list-group-item list-group-item-action" href="https://inescoin.org">
        <i class="fa fa-home mr-2"></i>
        {{ '#Website' | dgTranslate }}
      </a>
      <div class="form-group m-4">
        <select class="form-control mr-3" [(ngModel)]="chooseLanguage" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeLanguage(); collapse()">
          <option value="fr">Français</option>
          <option value="it">Italiano</option>
          <option value="en">English</option>
          <option value="es">Español</option>
          <option value="ru">русский</option>
          <option value="cn">中国</option>
          <option value="jp">日本の</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-12 ml-sm-auto">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
    </footer>
  </div>
</div>
